Package: jp.y59.yumeTwinkle.Anemone
Name: yumeTwinkle (Anemone)
Architecture: iphoneos-arm
Description: Lilely Yumekawaii Theme for Anemone.
Maintainer: Yamada Yuta <yumeTwinkle@alias.y59.jp>
Author: Yamada Yuta <yumeTwinkle@alias.y59.jp>
Depends: com.anemonetheming.anemone
Section: Themes
Version: 0.2.1
